#main {
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    background-color: lightblue;
    text-align: center;
    width: 500px;
    height: 800px;
}

#chat {
    height: 90%;
    width: 100%;
}

.connect {
    width: 95%;
    margin: auto;
    background-color: aquamarine;
    text-align: center;
    margin-top: 10px;
}

.disconnect {
    width: 95%;
    margin: auto;
    background-color: indianred;
    text-align: center;
    margin-top: 10px;
}

.me {
    width: 90%;
    margin: auto;
    background-color: lemonchiffon;
    text-align: right;
    border-radius: 5px;
    margin-top: 10px;
    padding-right: 20px;
}

.other {
    width: 90%;
    margin: auto;
    background-color: white;
    text-align: left;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 20px;
}